* {
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 230, 224);
    margin: 5;
}

.container {
    position: relative;
    padding: 0;
    margin: 0;
}

.header {
    position: relative;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    
}

.navigation {
    position: absolute;
    right: 10%;
    display: flex;
    gap: 25px;

}

.logo {
    left: 10%;
    position: absolute;
}


.a1 {
    text-decoration: none;
    color: rgb(10, 10, 10);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
   font-size: 20px;
}

.a1:hover {
    color: rgb(247, 161, 161);
    
}

.section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10%;
    gap: 50px;
    background-image: url(assets/Dot\ Ornament.png);
    background-repeat: no-repeat;
    background-position:left bottom;
}

.h1 {
    font-size: 50px;
    font-weight: bold;
  
}

.p1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
 
}


.button1 {
    cursor: pointer;
    color: white;
    background-color: blue;
    padding: 20px;
    border-radius: 30px;
    width: 150px;
    
}

.button1:hover {
    background-color: white;
    color: blue;
    font-weight: bold;
}

.image1 {
    position: relative;
}

.img2 {
    position: absolute;
    right: 10%;
    top: 512px;
    width: 180px;
    height: 100px;
}


.section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    margin-top: 150px;
}

.content2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10%;
    align-items: start;
    margin-left: 10%;
    gap: 20px;
}

.content2 h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0;
}

.content2 p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-top: 0;
}

.contentimages {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 70px;
    margin-right: 50px;
}



.image2 {
    width: 150px;
    height: 40px; 
}

.image3 {
    width: 150px;
    height: 40px; 
    margin-top: 10px;
}

.section3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    margin-top: 150px;
}

.content3 {
    background-image: url(assets/Rectangle\ 25\ \(1\).png),url(assets/Dot\ Ornament.png);
    background-position: left top,bottom right;
    background-repeat: no-repeat;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10%;
    align-items: start;
    margin-left: 10%;
    gap: 20px;
}


.container1 {
    background-image: url(assets/Rectangle\ 24.png);
    background-position: right center;
    background-repeat: no-repeat;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 800px;
    height: 1000px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.card1 {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    border-radius: 30px;
    width: 310px;
    height: 380px;
}

.cardimg1 {
    position: absolute;
    padding: 20px;
    background-color: rgb(201, 233, 252);
    border-radius: 20px;
    left: 30%;
    top: 8%;
}

.cardh1 {
    position: absolute;
    text-align: center;
    left: 5%;
    top: 40%;
}

.cardp1 {
    font-family: 'poppins';
    position: absolute;
    text-align: center;
    left: 5%;
    top: 70%;
}

.card2 {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    border-radius: 30px;
    width: 310px;
    height: 380px;
}

.cardimg2 {
    position: absolute;
    padding: 20px;
    background-color: rgb(201, 233, 252);
    border-radius: 20px;
    left: 30%;
    top: 8%;
}

.cardh2 {
    position: absolute;
    text-align: center;
    left: 5%;
    top: 40%;
}

.cardp2 {
    font-family: 'poppins';
    position: absolute;
    text-align: center;
    left: 5%;
    top: 70%;
}

.card3 {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    border-radius: 30px;
    width: 310px;
    height: 380px;
}

.cardimg3 {
    position: absolute;
    padding: 20px;
    background-color: rgb(201, 233, 252);
    border-radius: 20px;
    left: 30%;
    top: 8%;
}

.cardh3 {
    position: absolute;
    text-align: center;
    left: 5%;
    top: 40%;
}

.cardp3 {
    font-family: 'poppins';
    position: absolute;
    text-align: center;
    left: 5%;
    top: 70%;
}

.card4 {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    border-radius: 30px;
    width: 310px;
    height: 380px;
}

.cardimg4 {
    position: absolute;
    padding: 20px;
    background-color: rgb(201, 233, 252);
    border-radius: 20px;
    left: 30%;
    top: 8%;
}

.cardh4 {
    position: absolute;
    text-align: center;
    left: 5%;
    top: 40%;
}


.cardp4 {
    font-family: 'poppins';
    position: absolute;
    text-align: center;
    left: 5%;
    top: 70%;
}

